.block__slider-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--base-dark);
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.block__slider-button:hover {
  background-color: var(--hover);
}

@media screen and (max-width: 768px) {
  .block__slider-button {
    width: 36px;
    height: 36px;
  }
}
