.table__parameters {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 60px 0 48px;
  padding: 0;
  width: 100%;
}

.table__parameters li:first-child .table__parameter-title,
.table__parameters li:first-child .table__parameter-text {
  padding-top: 0;
}

.table__parameters li:last-child .table__parameter-title,
.table__parameters li:last-child .table__parameter-text {
  border-bottom: none;
  padding-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .table__parameters {
        margin: 44px 0 40px;
    }
    .table__parameters li:first-child .table__parameter-text {
        padding-top: 12px;
    }
    .table__parameters li:last-child {
        border-bottom: none;
    }
}
