.header__circle {
  position: absolute;
  top: -102px;
  right: -29px;
  width: 780px;
  height: 780px;
}

@media screen and (max-width: 768px) {
  .header__circle {
    width: 353px;
    height: 353px;
    bottom: 57px;
    top: auto;
    left: 4px;
  }
}
