.grid__slider {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

@media screen and (max-width:1300px) {
    .grid__slider {
        margin-top: 25%;
    }
}

@media screen and (max-width:1024px) {
    .grid__slider {
        margin-top: 148px;
        display: block;
    }
}