.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  width: 245.17px;
  height: 36px;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .header__logo img {
    width: 213px;
    height: 32px;
  }
}
