.header {
  background-position: center;
  min-height: 700px;
  position: relative;
  background-blend-mode: color-burn;
  background-color: var(--base-light);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
