.cards__name {
  font-family: var(--font-base);
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: var(--base-dark);
  margin: 28px auto 6px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .cards__name {
    margin: 28px 0 8px;
  }
}
