.line {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  background-color: var(--accent);
  padding: 18px 0;
  gap: 12px;
}

.line:hover .line__marquee {
  animation-play-state: paused;
}

@media screen and (max-width: 768px) {
  .line {
    padding: 10px 0;
    box-sizing: border-box;
  }
}
