.cards__link {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: var(--base-blue);
  border: 1px solid var(--base-blue);
  border-radius: 62px;
  padding: 12px;
  margin: 20px auto 0;
  transition: all 0.3s ease;
}

.cards__link:hover {
  color: var(--base-white);
  background-color: var(--base-blue);
}

@media screen and (max-width: 768px) {
  .cards__link {
    padding: 8px 10px;
  }
}
