*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select,
figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  outline: none;
  text-wrap: wrap;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}